{% extends "layout.html" %} {% block container %} {% import "_macros.html" as macros %}


<form action="" method="POST" novalidate class="max-w-md mx-auto">
    {{ form.csrf_token }}
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">

    <div class="relative z-0">
        {{macros.camposNuevos(form.id, class="bg-neutral-secondary-medium border
        border-default-medium text-heading text-sm rounded-base focus:ring-brand 
        focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body")}}
    </div>
    <div class="relative z-0">
        {{macros.camposNuevos(form.nombre, class="bg-neutral-secondary-medium border
        border-default-medium text-heading text-sm rounded-base focus:ring-brand 
        focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body")}}
    </div>
    <div class="relative z-0">
        {{macros.camposNuevos(form.apaterno, class="bg-neutral-secondary-medium border
        border-default-medium text-heading text-sm rounded-base focus:ring-brand 
        focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body")}}
    </div>
    <div class="relative z-0">
        {{macros.camposNuevos(form.email, class="bg-neutral-secondary-medium border
        border-default-medium text-heading text-sm rounded-base focus:ring-brand 
        focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body")}}
    </div>
    
    <div>
        <label for="visitors" class="block mb-2.5 text-sm font-medium text-heading">ID</label>
        <input type="text" id="id" class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body" placeholder="" required />
    </div>
    <div>
        <label for="visitors" class="block mb-2.5 text-sm font-medium text-heading">Apellido paterno</label>
        <input type="text" id="apaterno" class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body" placeholder="" required />
    </div>
    <div>
        <label for="visitors" class="block mb-2.5 text-sm font-medium text-heading">Nombre</label>
        <input type="text" id="nombre" class="bg-neutral-secondary-medium border border-default-medium text-heading text-base rounded-base focus:ring-brand focus:border-brand block w-full px-3.5 py-3 shadow-xs placeholder:text-body" placeholder="" required />
    </div>
    <div>
        <label for="visitors" class="block mb-2.5 text-sm font-medium text-heading">Email</label>
        <input type="email" id="email" class="bg-neutral-secondary-medium border border-default-medium text-heading text-base rounded-base focus:ring-brand focus:border-brand block w-full px-4 py-3.5 shadow-xs placeholder:text-body" placeholder="" required />
    </div>
</form>


{% endblock %}